@font-face {
    font-family: 'Avenir';
    src: url(../fonts/AvenirLTStd-Medium.otf);
    font-weight: bold;
}

body, html, .bg-container {
  /* important */
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: Montserrat, sans-serif;

}
/*logo*/         
.navbar-brand img{
  width: 25px;
  height: 25px;
  opacity: 0.5;

}
.navbar{
  position: absolute;
}
.navbar-inverse{
position: absolute;
} 
.navbar-fixed-top{
  position: absolute;
}
.navbar-scroll{
  position: absolute;
}
/*fixed background*/
.fixed-bg {
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.fixed-bg.bg-1 {
  background-image: url(../images/shutterstock_205553143sm.jpg);
}
.fixed-bg.bg-2 {
  background-image: url(../images/photo-1422349829867-7587357f2b581sm.jpg);
}
.fixed-bg.bg-3 {
  background-image: url(../images/forest3.jpg);
}
.fixed-bg.bg-4{
  background-image: url(../images/photo-bg3.jpg);
  min-height:80%;
}
.scrolling-bg {
  min-height: 80%;
}
.container-fluid{
  background-color:rgba(0,0,0,0.5);
}
.pen{
  -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.intro{
  padding-top: 300px;
}
.name{
  font-size:40px;
  font-weight: 400; 
  font-family:Avenir;
  color: #fff;
  text-align: center;
}
.title{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  font-family: Avenir;
  
  padding-top: 50px;
  padding-bottom: 90px;
  text-align: center;
  overflow: hidden;
  letter-spacing: 1px;
}

.name-logo{
  text-align: center;
  
}
.name-logo img{

  
}
.whatIdo-title{
  font-family: Avenir;
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.desc{
  font-family: Avenir;
  font-size: 23px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.color-1{
  background-color:#e86d5e;
  background: #e86d5e url("../images/bg-shell3.png") no-repeat center bottom;
}
/*Portfolio*/
.portfolio-title{
  font-family: Avenir;
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding-top:100px;
  padding-bottom: 100px;
}
/*grid image*/
#img-item{
  width: 100%;
  height: 100%;
}
#img-item-p{
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
#img-item-p:hover {
   cursor: pointer;
   opacity: 1;
}
#img-item-w{
  width:100%;
  height:100%;
}
#img-item-neeyer{
  width:50%;
  height: 50%;
}
/*popup project intro page*/
#fullscreen-work-slide{
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1031;
  display: none; 
}
/*make popup page scrollable*/
.overlay-content {
  position: relative;
  top:0;
  height: 100%;
  overflow: auto;
}
.background-content{
  height: 100%;
  overflow: auto;
}
/*popup page cross*/  
.overlay-close {
  padding: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 35px;
  top: 50px;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}
.grid-neeyer-pad{
  padding-left: 70px;
  padding-right: 70px;
  padding-top:60px;
  padding-bottom: 30px;
}
.desc-neeyer h1{
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
}
.desc-neeyer h4{
    padding-bottom: 30px;
}
.desc-neeyer{
  text-align: center;
}
.project-intro{
  padding-left: 100px;
  padding-right: 100px;
}
.intro-content h4{
  line-height: 1.5;
}
/*about me*/
.aboutMe-item{
  padding-left:40px;
  padding-right: 40px;
}
.font-style{
  font-size: 25px;
}
.intro-content h4{
  font-size: 16px;
}
.aboutMe-title{
  font-family: Avenir;
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding-top:100px;
  padding-bottom: 100px;
}

#aboutMe-info{
  font-size: 17px;
  color: #fff;
}
#aboutMe-info p{
  margin-bottom: 30px;
}
.cv-github img{
  max-width: 40px;
  max-height:40px;
  margin-right: 40px;
}
.followMe2{
  display: none;
}
.contactForm-container{
  padding-top: 7em;
}
#contactForm{
  background: rgba(255,255,255,0.3);
  max-height: 700px;
  max-width: 600px;
  margin: 0 auto;
}
.form input{
  background-color: #fff;
  opacity: 1;
  padding:20px;
  margin: 10px;
  width: 100%;
  max-width: 500px;
  border:0;
  margin-left: 50px;
  color: #666;
}
.contactMe{
  font-family: Damion;
  margin-left: 25px;
  color: #000;
  padding:20px;
}

.contact-message{
  height: 100px;
  width: 100%;
  max-width: 500px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-indent : 5px;
  border-radius : 4px;
  background : #fff;
  border : 0;
  resize : none;
  padding : 20px;
  color:#666;
  height : 130px;
  margin-left: 49px;
  margin-top:10px;
}

.btn{
  width: 100%;
  height: 40px;
  max-width: 500px;
  margin-left: 49px;
  margin-top: 20px;
  font-size: 25px;
}
.socialMedia img{
  max-width:40px;
  max-height:40px;
  margin:10px;
}
.socialMedia{
  margin-left: 35px;
  margin-top: 5px;
}
.socialMedia a:hover{
  background-color: ##2EFE2E;
}
.followMe-title{
  font-size: 20px;
  color:#000;
  margin-top: 40px;
  margin-left: 45px;
}
.myEmail{
  font-family: Avenir;
  font-size: 18px;
  color: #000;
  margin:20px;
}

footer{
  width: 100%;
  max-height: 70px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}
.copyright{
  padding: 23px;
  margin-left: 60px;
}
.title-all{
  font-size: 30px;
  padding-top: 60px;
  padding-bottom: 50px;
}
@media screen and (max-width: 776px){
  .desc{
    font-size: 15px;
  }
  #aboutMe-info p{
    margin-bottom: 15px;
  }
  #contactForm{
    max-width: 500px;
  }
  .form input{
    max-width: 400px; 
  }
  .contact-message{
    max-width: 400px;
  }
  .btn{ 
    max-width: 400px; 
  }
}
@media screen and (max-width: 500px){

  .desc{
    display: none;
  }

  #aboutMe-info{
    font-size: 1em;
  }
  #contactForm{
    max-width: 370px;
  }
  .form input{
    max-width: 270px;
    margin-left: 53px;
  }

  .contact-message{

    max-width: 270px;
    margin-left: 53px;
    
  }
  .btn{
    max-width: 270px;
    margin-left: 53px; 
  }
}

/* Page background-image landscape for iPad 3 */

@media screen and (min-resolution: 192dpi),
only screen and (min-device-pixel-ratio:2) {

body, html, .bg-container {
  /* important */

  height: 768px;
} 

   
  
}


