/*body{
  background-image: url(bgs.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
.background{
  z-index: 1000;
}
.bg-image2{
  opacity: 0.7;
}*/
@font-face {
    font-family: 'Avenir';
    src: url(../fonts/AvenirLTStd-Medium.otf);
    font-weight: bold;
}

body, html, .bg-container {
  /* important */
  height: 100%;
  width: 100%;
  font-family: Montserrat, sans-serif;
}
.navbar-brand img{
  width: 25px;
  height: 25px;
  opacity: 0.5;

}

.fixed-bg {
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

  
}

 
.fixed-bg.bg-1 {
  background-image: url(shutterstock_205553143.jpg);

}
.fixed-bg.bg-2 {
  background-image: url(../images/photo-1422349829867-7587357f2b581s.jpg);
  
}
.fixed-bg.bg-3 {
  background-image: url(../images/photo-1434569117012-ce134ee1a088s.jpg);
}
.fixed-bg.bg-4{
  background-image: url(../images/photo-bg3.jpg)
}
.scrolling-bg {
  min-height: 80%;
  
}

.container-fluid{
  background-color:rgba(0,0,0,0.5);
}

.intro-container{
  color: #fff;
  line-height: 28px;
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;
  padding-top:300px;
  
  
}
#intro img{
  width: 50px;
  height: 50px;
}
.spin-logo,.pen{
  -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.name{
  font-size:40px;
  font-weight: 400; 
  font-family:Avenir;
  color: #fff;
}
.title{
  font-size: 20px;
  font-weight: bold;
  font-family: Avenir;
  
  padding-top: 50px;
  padding-bottom: 90px;
  text-align: center;
  overflow: hidden;
  letter-spacing: 1px;
}
.title-border span{
  border-top: 1px solid;
  width: 100px;
  text-align: center;
}
.spin-logo{
  width:50px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  opacity: 0.5;

}
.whatIdo-container{
  justify-content:center;
  display: flex;
  flex-flow: row wrap;
  
 
}
.whatIdo-title{
  font-family: Avenir;
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.disc{
  margin-right: 4em;
  margin-left: 4em;
 text-align: center;

  
}


.whatIdo-disc{
   width: 170px;
  height: 170px;
  text-align: center;
  position: relative;
}
.whatIdo-disc img{
  width: 100%;
  height: 100%;
}
.focus-code-container{
  position: relative;
}
.focus-code-container img{
  width: 6%;
  height: 40px;
  position: relative;
  left:3px;
  top:-90px;
}
.reponsive-phone{
  width: 5%;
  height: 15%;
  position: relative;
  left:-68px;
  top:10px;
  
}
.desc{
  font-family: Avenir;
  font-size: 22px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.color-1{
  background-color:#e86d5e;
  background: #e86d5e url("../images/bg-shell1.png") no-repeat center bottom;
}
.color-2{
  background:#333 url("../images/aboutMe1.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  flex-flow: row wrap;
  justify-content: center;
}
.flex-item {
  max-width: 350px;
  max-height: 250px; 
  overflow: hidden;
  
}

.flex-item img{
  width: 100%;
  height: 100%;
  opacity: 0.6;
  transition: all 1s ease;
}
.flex-item:hover img{
  transform:scale(1.6);
}


/*.portfolio-container{
  float:none;
  margin:auto auto;

}
.img-box{
  width: 280px;
  height: 200px;
}*/

.portfolio-title{
  font-family: Avenir;
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding-top:100px;
  padding-bottom: 100px;
}

.item-space{
  max-width: 70px;
}

.aboutMe-title{
  font-family: Avenir;
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding-top:100px;
  padding-bottom: 100px;
  
}

.aboutMe-info-container{
  margin: 0 auto;
  max-width: 900px;
}
#aboutMe-info{

    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 45px; 
    -moz-column-gap: 45px; 
    column-gap: 60px;
    font-size: 17px;
    color: #fff;


}
#aboutMe-info p{
  margin-bottom: 30px;
}
.cv-github img{
  max-width: 50px;
  max-height:50px;

}
.followMe2{
  display: none;
}
.contactForm-container{
  padding-top: 2em;
}
#contactForm{
  background: rgba(255,255,255,0.3);
  max-height: 700px;
  max-width: 600px;
  margin: 0 auto;
  
  
}
.form input{
  background-color: #fff;
  opacity: 1;
  padding:20px;
  margin: 10px;
  width: 100%;
  max-width: 500px;
  border:0;
  margin-left: 50px;
  color: #666;
}
.contactMe{
  font-family: Damion;
  margin-left: 25px;
  color: #000;
  padding:20px;
}

.contact-message{
  height: 100px;
  width: 100%;
  max-width: 500px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-indent : 5px;
  border-radius : 4px;
  background : #fff;
  border : 0;
  resize : none;
  padding : 20px;
  color:#666;
  height : 130px;
  margin-left: 49px;
  margin-top:10px;
}



.btn{
  width: 100%;
  height: 40px;
  max-width: 500px;
  margin-left: 49px;
  margin-top: 20px;
  font-size: 25px;
}
.socialMedia img{
  max-width:40px;
  max-height:40px;
  margin:10px;
}
.socialMedia{
  margin-left: 35px;
  margin-top: 5px;
}
.socialMedia a:hover{
  background-color: ##2EFE2E;
}
.followMe-title{
  font-size: 20px;
  color:#000;
  margin-top: 40px;
  margin-left: 45px;
  
}
.myEmail{
  font-family: Avenir;
  font-size: 18px;
  color: #000;
  margin:20px;
}

footer{
  width: 100%;
  max-height: 70px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}
.copyright{
  padding: 23px;
  margin-left: 60px;
}


@media screen and (max-width: 1180px){
    .disc{
  margin-right: 2.5em;
  margin-left: 2.5em;
 text-align: center;

  
}
}
@media screen and (max-width: 1065px){

.flex-item {
  max-width: 320px;
  max-height: 220px; 
  overflow: hidden;
  
}

}
@media screen and (max-width: 1011px){
  .disc{
  margin-right: 1.6em;
  margin-left: 1.6em;
 

  
}
}
@media screen and (max-width: 975px){
  .flex-item {
  max-width: 300px;
  max-height: 200px; 
  overflow: hidden;
  
}
}
@media screen and (max-width: 910px){
   .disc{
  margin-right: 1.6em;
  margin-left: 1.6em;


  
}
.whatIdo-disc{
  max-width: 130px;
  max-height: 130px;
  text-align: center;
  position: relative;
}

  .focus-code-container img{
  width: 6%;
  height: 30px;
  position: relative;
  left:3px;
  top:-70px;
}

.desc{
  font-size: 17px;
}
 .flex-container{
  display: block;
  max-width:280px; 
  margin: 0 auto;

 }
 .wrap{
  
  
 }
 .flex-item {
  max-width: 280px;
  max-height: 180px; 
  overflow: hidden;
  
}
.aboutMe-info-container{
  margin: 0 auto;
  max-width: 550px;
}
#aboutMe-info{

    -webkit-column-count: 1; 
    -moz-column-count: 1; 
    column-count: 1;

    font-size: 17px;
   


}
#aboutMe-info p{
  margin-bottom: 20px;
}
.cv-github img{
  max-width: 50px;
  max-height:50px;

}
.title-all{
  font-size: 30px;
  padding-top: 60px;
  padding-bottom: 50px;
}

}
@media screen and (max-width: 776px){
   .disc{
  margin-right: 4em;
  margin-left: 4em;

  
}
.desc{
  font-size: 15px;
}
.aboutMe-info-container{
  margin: 0 auto;
  max-width: 450px;
}
#aboutMe-info{

    -webkit-column-count: 1; 
    -moz-column-count: 1; 
    column-count: 1;
 
    font-size: 15px;
    


}
#aboutMe-info p{
  margin-bottom: 15px;
}
#contactForm{

  max-width: 500px;
  
  
  
}
.form input{
 
  max-width: 400px;
  
}

.contact-message{

  max-width: 400px;
  
}



.btn{
  
  max-width: 400px;
  
}


}
@media screen and (max-width: 500px){
  .disc{
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 4em;

   
  }
  .desc{
    display: none;
  }
  .aboutMe-info-container{
  
  max-width: 21em;
}
#aboutMe-info{

    -webkit-column-count: 1; 
    -moz-column-count: 1; 
    column-count: 1;
 
    font-size: 1em;
    


}
#aboutMe-info p{
  margin-bottom: 1em;
}
#contactForm{

  max-width: 400px;
  
  
  
}
.form input{
 
  max-width: 300px;
  margin-left: 30px;
}

.contact-message{

  max-width: 300px;
  margin-left: 30px;
  
}



.btn{
  
  max-width: 300px;
  margin-left: 30px;
  
}


}

/*
@media screen and (max-width: 1050px){
    .disc{
  margin-right: 30px;
  margin-left: 30px;
 text-align: center;

  
}
}
*/


/*
@media screen and (max-width: 1025px) and (orientation:landscape){
  
  .whatIdo-title{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .disc{
    margin-left:40px;
    margin-right:40px;
  }
  .desc{
    font-size:20px;
  }
  .portfolio-title{
    padding-bottom: 100px;
  }
  .flex-item{
    width:320px;
    height: 220px; 
  }
 
  #aboutMe-info{
    font-size: 17px;
    color: #fff;
   
  }
  .aboutMe-title{
    
    padding-bottom: 100px;
  }
 
  .aboutMe-info-container{
    margin: 0 auto;

  }
  .item-space{
    display: none;
  }
  .contactForm-container{
    padding-top: 30px;
  }
    .copyright{
    font-size: 19px;

  }
  .name{
    color:green;
  }
}

@media screen and (max-width: 1025px) and (orientation:portrait) {
  .intro-container{
    padding-top: 400px;
  }
  .disc{
    padding-bottom: 100px;
  }
 

  .whatIdo-title{
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .portfolio-title{
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .item-space{
    display: none;
  }
  .flex-container{
    display: block;
    margin: 0 210px;
    text-align: center;
  }
  #aboutMe-info{
    -webkit-column-count: 1; 
    -moz-column-count: 1; 
    column-count: 1;
    font-size: 20px;
  }
  .aboutMe-title{
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .aboutMe-info-container{
    width: 550px;
    margin: 0 auto;
  }
  .copyright{
    font-size: 20px;
    margin-left: 23px;
  }
 .name{
  color:blue;
 }

}

@media screen and (max-width: 700px) and (orientation:portrait) {

  .intro-container{
    padding-top: 200px;
  } 
  .name{
    font-size: 30px;
  } 

  .whatIdo-title{
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 30px;
  }
  .disc{
  margin-right: 20px;
  margin-left: 20px;
 
  
}
.focus-code-container img{
   margin-top:25px;
   height: 25px;
}
.whatIdo-disc{
   width: 125px;
  height: 125px;
}
  
  .desc{
    font-size: 40px;
    display: none;
  }

  .portfolio-title{
    padding-top: 30px;
    font-size: 30px;

  }

  .flex-container{
    display: block;
    margin: 0 63px;

  }
  .flex-item{
    width: 250px;
    height: 170px;
  }
  .flex-item img{
    width: 100%;
    height: 100%;
  }
  .item-space{
    display: none;
  }

  .aboutMe-info-container{
    width: 300px;
    margin:0 auto;
  }
  #aboutMe-info{
    font-size: 15px;
  } 
  .aboutMe-title{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .aboutMe-border{
    border-bottom: 4px solid #fff;
  width: 35%;
  margin-bottom: 20px;
  }
  #aboutMe-info p{
  margin-bottom: 20px;

}
.contactForm-container{
    display: flex;
    flex-flow: row wrap;
  justify-content: center;
  padding-top: 30px;
  }
  .form{
    font-size: 15px;
  }
  .form input{
margin-left: 0px;
height: 15px;


}
.contactMe{
  font-family: Damion;
  margin-left: 0;
  color: #000;
  padding-bottom: 0;
  padding-top: 0;
}

.contact-message{

  margin-left: 0;

}


.btn{

  margin-left: 0;
 
}

.socialMedia{
  margin-left: 0;
 
}
.followMe-title{

  margin-left: 0;
  margin-top: 20px;
  
}
.copyright{
    font-size: 15px;
    text-align: center;
    margin: 0;
  }
  .name{
  color:orange;
}
}


@media screen and (max-width: 769px) and (orientation:landscape) {
  .intro-container{
    padding-top: 130px;
  }
  .name{
    font-size: 20px;
  }
  .title{
    font-size: 15px;
    padding-top: 30px;
  }
  .whatIdo-title{
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 30px;
  }
  .disc{
    margin-right: 30px;
  margin-left: 30px;
    
    
  }
  .focus-code-container img{
   margin-top:35px;
   height: 25px;
}
 .whatIdo-disc{
   width: 100px;
  height: 100px;
}
  .desc{
    display: none;
  }
  .portfolio-title{
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 30px;
  }
  .flex-item{
    height: 140px;
    width: 200px;
  }
  .aboutMe-title{
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 30px;
  }
  .aboutMe-info-container{
    width: 500px;
  }
  #aboutMe-info{
    -webkit-column-count: 1; 
    -moz-column-count: 1; 
    column-count: 1;
    font-size: 13px;
  }
  #aboutMe-info p{
  margin-bottom: 10px;

}
  .contactForm-container{
    display: none;
  }
  .followMe2{
    display: block;
    background: rgba(255,255,255,0.3);
    height: 350px;
  }
  .followMe-title2{
    margin: 0;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 30px;
    color: #000;
  }
  .socialMedia2{
    text-align: center;
  }
  .socialMedia2 img{
     width: 80px;
     height: 80px;
     margin-left: 10px;
     margin-right: 10px;
  }
  .myEmail2{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #000;

  }
  .copyright{
    font-size: 15px;
    text-align: center;
    margin: 0;
  }
  .name{
    color:yellow;
  }
}
*/

/* Page background-image landscape for iPad 3 */

@media screen and (min-resolution: 192dpi),
only screen and (min-device-pixel-ratio:2) {

body, html, .bg-container {
  /* important */

  height: 768px;
} 
.name{
  color:red;
}
   
  
}


